body{
    font-family: 'open sans';
}

.content{
    margin: 150px auto 0 auto;
    width: 90%;
}

.contentheader{
    line-height: 1.25em;
    position: relative;
    border-bottom: 5px solid lightgray;
    padding-bottom: 10px;
}

.underline{
    border-bottom: 5px solid red;
    line-height: 1.25em;
    padding-bottom: 8px;
    color:red;
}

.display{
    height: auto;
    width: auto;
    min-width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.16), rgba(0, 0, 0, 0.08); 
}

.product{
    flex: 1;
    max-width: 250px;
    margin: 5px;
}

.release{
    font-size: 20px;
    font-weight: 400;
    color: rgb(84, 84, 84);
    margin-top: 0;
    margin-bottom: 0;
}

.name{
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0;
}

.price{
    margin-top: 0;
    color: rgba(84, 84, 84, 0.55);
}

.oldPrice{
    text-decoration: line-through;
    color: rgb(255, 58, 58);
}