.wrapper{
    margin: 150px 0 20px 0;
    padding: 8px;
}

.welcome{
    width: 70%;
    margin: 0 auto 50px auto; 
    font-size: 35px;
    font-weight: 300;
    color: #545454;
}

.welcome span{
    font-weight: 700;
    color: #4CAF50;
}

.info{
    width: 70%;
    margin: 20px auto 60px auto;
    /* box-shadow: 0px 10px 27px 4px rgba(0,0,0,0.75); */
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    padding: 20px;
    color: #545454;
}

.info h1{
    font-size: 20px;
}

.info h2{
    font-size: 18px;
}

.info a{
    color: #4CAF50;
}

.orders{
    width: 70%;
    margin: 60px auto;
    padding: 30px 20px;
    color: #545454;
    min-width: 200px;
}

.wishList{
    width: 70%;
    margin: 60px auto;
    padding: 30px 20px;
    color: #545454;
    min-width: 200px;
}

.lines{
    border-bottom: 5px solid lightgray
}

.lines span{
    border-bottom: 5px solid #4CAF50
}
